<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;application/json; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style2.css" />
<title> Vũ yêu Vy</title>
 <script src="jquery-3.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div id="a1" class="my_a1">
	<div id="banner" class="main_banner">
   <div class="login_banner">
	    <div class="submit"></div>
      <div class="number"></div>
      
   </div>
   <div class="icon_banner">
   </div>
  </div>
  <div class="ad_banner"></div>
  <div class="info_banner">
    <div class="info_from_server" id ="my_info_from_server"></div>
  </div>

</div>
</body>
</html>
