<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Vũ yêu Vân</title>
 <script src="jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      let socket = io("10.0.10.132:3000")
	  $(document).ready(() => {
      $("#btn_dang_nhap").click(()=>{
          socket.emit("C_dangnhap",   $("#login_number_1").val());
      });




      });
</script>




<link rel="stylesheet" type="text/css" href="css1.css"/>
</head>

<body>
<div id="a1">
	<div id="banner">
		<div id="logo">

		</div>
    	<div id="login_number">
     		<div id="login_number_1">Nhập số điện thoại</div>
    		<input type="text" name="" value="" id= "login_number_2"></input>

		</div>
        <div id="login_pass">
     		<div id="login_pass_1">Nhập mật khẩu</div>
    		<input type="text" name="" value="" id= "login_pass_2"></input>

		</div>
        <button id="btn_dang_nhap">Đăng nhập</button>


	</div>

	<div id="content">

	</div>


</div>
</body>
</html>
