<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ePos</title>
    <style >
    html, body, {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .wrap{
      background-color:  #4CAF50;
      height: 100px
    }
    .a1, .a2 {
      position: relative;
      float: right;
      height: 100%;
      width: 500px;
      margin-right: 10px;
      background-color:  #96B76A;
    }
    .a3 {
      position: absolute;
      height: 30px;
      width: 100%;
      bottom: 0px;
      background-color:  #D3B1B1;
    }
    .a4, .a5, .a6, .a7{
      position: relative;
      float: right;
      height: 100%;
      width: 20px;
      margin-right: 5px;
      background-color:  #96B76A;
    }

    </style>
  </head>
  <body>
  <div class="wrap">
    <div class="a1">
        <div class="a3">
            <div class="a4"></div>
            <div class="a5"></div>
            <div class="a6"></div>
            <div class="a7"></div>
        </div>
    </div>

    <div class="a2"></div>


  </div>

  </body>
</html>
