<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;application/json; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title><%= sodienthoai %></title>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
var socket = io("https://epos188.herokuapp.com/");
socket.connect();
var map;
var mangmarker = [];
var marker1 = {};
var list_nguoinhan = [];
var list_diem_gui_di = [];
var id_posname=1;
var mang_infowindow = [];
var mang_infowindow_main = [];
var ten="";
var mang_kq_contact_search = [];
var id_mang_kq_contact_search=0;
var mang_contact_ok = [];
var id_mang_contact_ok=0;
var check_del = true;
var number_del_inbox = 0; // biến này để đếm số lượng đã chọn trong các mục để xóa
function strdecode( data ) {
  return decodeURIComponent(escape( data ));
}
var id_inbox_pos=0;
var id_contact = 0;
var mang_inbox = [];
var mang_send = [];
var mang_save = [];
var mang_contact = [];
var mang_contact_ok = [];
var mang_room = [];
var list_del_inbox = [];
var list_del_send = [];
var list_del_save = [];
var list_del_online = [];
let mafull="";
let cru_online=0;
let cru_inbox = 0;
let cru_send = 0;
let cru_save=0;
let cru_contact = 0;
let cru_group = 0;
var room_name_chose="";
var abc = 1;
// var mang_infowindow_main = [{name:'vu yeu Thy', dem:0}];
var timer = setInterval(check_online, 3000);
function check_online(){
  if(mang_infowindow_main.length>0){
    mang_infowindow_main.forEach((row)=>{
      if(document.getElementById("li_lo"+row.id).style.color == "white"){
        row.dem ++ ;
        if(row.dem > 2){
          document.getElementById("li_lo"+row.id).style.color= "black";
          for (var i=0; i<mang_infowindow.length; i++){
              if(mang_infowindow[i].id == row.id){
                mang_infowindow[i].wind.close();
                mang_infowindow.splice(i,1);
                return false;
              }
            }

      }
      }
    });
  }
}
socket.on('check_pass',()=>{
  let ab = {rightuser:'<%= sodienthoai %>',right_pass:'<%= pass %>',online:cru_online,inbox:cru_inbox,send:cru_send,save:cru_save,contact:cru_contact,group:cru_group};
  socket.emit('login2',ab);
});
socket.on('S_W_kq_check_contact',(data)=>{
      var dropdowns = document.getElementsByClassName("list_contact_1");
      var k;
      for (k = 0; k < dropdowns.length; k++) {
      var openDropdown = dropdowns[k];
      if (!(openDropdown.classList.contains('show1'))) {
       document.getElementById("my_list_contact").classList.toggle("show1");
      }
      }

    });
socket.on('S_send_room_member', function(data){
                    var ten ="";

                    data.forEach(function(member){
                      ten = ten+ "<a href='#' onclick='show_vitri_thanhvien("+member.number+");'>"+member.name + "</a>";
                      });

                      $("#myDropdown6").html( ten);
                  });
socket.on('S_send_send', (row)=>{
     //S gửi toàn bộ bản tin send về client
     cru_send = row.ids;
       var thoigian="";
         var ab = "";
         var space = "";
         id_inbox_pos++;
         var idc = "3"+id_inbox_pos;
         var tin = {ids: row.ids,id_pos:idc, nhom_nguoinhan:row.nguoinhan, subject:strdecode(row.subject), id_tinnha_client:row.idc, thoigian:show_time(row.time) };
         mang_send.push(tin);
         row.nguoinhan.forEach((row1,key)=>{
              if(key===(row.nguoinhan.length-1)){space="";}else {space=" ,";}
              if(row1.stt ==="N"){ab=ab+"<font color='red'>"+strdecode(row1.name)+"</font>" +space;}else {ab=ab+strdecode(row1.name)+space;}
          });
          var line = '<div class="line_inbox" id="send'+idc+'"><input type="checkbox" id="'+idc+'" class="line_send_chk" onclick="checkbox_send_click('+idc+')"><div class="line_send_main" onClick="send_click(\'' + row.idc+ '\',\''+strdecode(row.subject)+'\')"><div class="line_send_sub">'+strdecode(row.subject)+'</div><div class="line_send_time">'+show_time(row.time)+'</div><div class="line_send_from">To:'+ab+'</div><div class="line_send_read">ha ha</div></div></div>';
          $("#k_send").prepend(line);

});
socket.on('S_send_save', (row)=>{
     //S gửi toàn bộ bản tin inbox về client
     cru_save = row.ids;
         var thoigian="";
         id_inbox_pos++;
         var idc = "2"+id_inbox_pos;
         var tin = {ids: row.ids,id_pos:idc, subject:strdecode(row.subject), id_tinnha_client:row.idc, time:show_time(row.time) };
         mang_save.push(tin);
        var line = '<div class="line_inbox"><input type="checkbox" id="'+idc+'" class="line_save_chk" onclick="checkbox_save_click('+idc+')"><div class="line_save_main" onClick="save_click(\'' + row.idc+ '\',\''+strdecode(row.subject)+'\')"><div class="line_save_sub">'+strdecode(row.subject)+'</div><div class="line_inbox_time">'+show_time(row.time)+'</div></div></div>';
          $("#k_save").before(line);
});
socket.on('S_send_contact',(tin)=>{
  cru_contact = tin.ids;
    id_contact ++;
    var idc = "1"+id_contact;
    mang_contact.push({ids: tin.ids,id: idc, name: tin.name, number:tin.number});
    var line = "<div class='list_contact_main_line'><div style='position:absolute;' id='list_contact_name'>"+strdecode(tin.name)+"</div><div class='list_contact_line_number' id='list_contact_number'>"+tin.number+"</div><button class='list_contact_line_btn' id='btn"+idc+"' onclick='add_contact_click("+idc+")'>Add</button></div>";
      $("#id_list_contact").append(line);

});
socket.on('S_send_room',(data)=>{
  id_inbox_pos++;
  cru_online = data.ids;
  var idc = "5"+id_inbox_pos;
  var tin = {ids: data.ids,id_pos:idc, name_nguoigui:strdecode(data.admin_name),number_nguoigui:data.admin_number, subject:strdecode(data.room_name), room_id:data.room_id_server, thoigian:show_time(data.time)};
  mang_room.push(tin);
  var line = '<div class="line_inbox" id="room'+idc+'"><input type="checkbox" id="'+idc+'" class="line_online_chk" onclick="checkbox_online_click('+idc+');"><div class="line_inbox_main" onClick="online_clk(\'' + data.room_id_server + '\',\''+strdecode(data.room_name)+'\')"><div class="line_inbox_sub">'+strdecode(data.room_name)+'</div><div class="line_inbox_time">'+show_time(data.time)+'</div><div class="line_inbox_from">From:'+strdecode(data.admin_name)+'</div><div class="line_inbox_read"></div></div></div>';
  $("#k_online").prepend(line);
  if(data.stt=="F"){socket.emit('danhan_room',data.room_id_server);}
});
socket.on('S_send_member',(tins)=>{
  if(mang_infowindow_main.length >0){
  for (var i=(mang_infowindow_main.length-1); i>=0; i--){
    if(mang_infowindow_main[i].online ==='O'){
      document.getElementById("li_lo"+mang_infowindow_main[i].id).remove();
      for (var k=(mang_infowindow.length-1); k>=0; k--){
        if(mang_infowindow[k].id===mang_infowindow_main[i].id){
          mang_infowindow.splice(k,1);
          return false;
        }
      }
        mang_infowindow_main.splice(i,1);
    }
    if(i===0 ){
        tins.forEach((tin,key)=>{
          mang_infowindow_main.push({name:strdecode(tin.name),lat:null,lon:null,id:tin.number, online:'O', dem:0});
          var line = '<div class="list_line_member" id="li_lo'+tin.number+'"><div class="lo_list_sub" onclick="fly_to('+tin.number+')">'+strdecode(tin.name)+'</div><input type="checkbox" class="list_line_checkbox" id="chk'+tin.number+'" onchange="hide_show_pos('+tin.number+')"><div class="lo_list_show">Hide</div></div>';
          $("#id_location_list").append(line);
        });
      }
    }
  }
  else {
  tins.forEach((tin,key)=>{
    mang_infowindow_main.push({name:strdecode(tin.name),lat:null,lon:null,id:tin.number, online:'O',dem:0});
    var line = "<div class='list_line_member' id='li_lo"+tin.number+"'><div class='lo_list_sub' onclick='fly_to("+tin.number+")'>"+strdecode(tin.name)+"</div><input type='checkbox' class='list_line_checkbox' id='chk"+tin.number+"' onchange='hide_show_pos("+tin.number+")'><div class='lo_list_show'>Hide</div></div>";
    $("#id_location_list").append(line);
    });
  }
});
socket.on('S_W_add_friend_ok',function(data){
              var new_contact = "<a href=''>"+data.name+"</a></br>";
             $("#myDropdown_contact").append(new_contact);
             var stt = mang_contact_ok.length;
             mang_contact_ok.push({id:data.id,number:data.number, name:data.name});
          });
socket.on('S_del_inbox',()=>{
    document.getElementById("id_content_inbox_del").style.display = "none";
    list_del_inbox.forEach((row, key)=>{
      for(var i=0; i< mang_inbox.length; i++){
        if(mang_inbox[i].id_tinnha_client===row.idc){
          document.getElementById("inbox"+mang_inbox[i].id_pos).remove();
          mang_inbox.splice(i,1);
          if(key===list_del_inbox.length){list_del_inbox= [];}
          return false;
        }
      }
    });
    // bỏ cái hàng với cái id kia
    // document.getElementById(id1).remove();
    alert('Tin nhắn đã được xóa thành công');
});
socket.on('S_del_online',()=>{
  document.getElementById("id_content_online_del").style.display = "none";
  list_del_online.forEach((row, key)=>{
    for(var i=0; i< mang_room.length; i++){
      if(mang_room[i].room_id===row.idc){
        console.log("online"+mang_room[i].id_pos);
        document.getElementById("room"+mang_room[i].id_pos).remove();
        mang_room.splice(i,1);
        if(key===list_del_online.length){list_del_online= [];}
        return false;
      }
    }
  });
  // bỏ cái hàng với cái id kia
  // document.getElementById(id1).remove();
  alert('Tin nhắn đã được xóa thành công');
});
socket.on('S_del_send',()=>{
  document.getElementById("id_content_send_del").style.display = "none";
  list_del_send.forEach((row, key)=>{
    for(var i=0; i< mang_send.length; i++){
      if(mang_send[i].id_tinnha_client===row.idc){
        document.getElementById("send"+mang_send[i].id_pos).remove();
        mang_send.splice(i,1);
        if(key===list_del_send.length){list_del_send= [];}
        return false;
      }
    }
  });

  alert('Tin nhắn đã được xóa thành công');
});
socket.on('S_guitinnhan',(data)=>{
  id_inbox_pos++;
  var idc = "4"+id_inbox_pos;
  var tin = {id_pos:idc, name_nguoigui:strdecode(data.name_nguoigui),number_nguoigui:data.number_nguoigui, subject:strdecode(data.subject), id_tinnha_client:data.id_tinnha_client,trangthai:"N", thoigian:show_time(data.time) };
  mang_inbox.push(tin);
  var stt = data.stt;
  if(stt!= null && stt==("N")){socket.emit("danhantinnhan",data.number_nguoigui,data.id_tinnha_client);}
  var line = '<div class="line_inbox"><input type="checkbox" id="'+idc+'" class="line_inbox_chk" onclick="checkbox_inbox_click('+idc+')"><div class="line_inbox_main" onClick="inbox_click(\'' + data.id_tinnha_client+ '\',\''+strdecode(data.subject)+'\')"><div class="line_inbox_sub">'+strdecode(data.subject)+'</div><div class="line_inbox_time">'+show_time(data.time)+'</div><div class="line_inbox_from">From:'+strdecode(data.name_nguoigui)+'</div><div class="line_inbox_read">'+'Not read'+'</div></div></div>';
  $("#k_inbox").prepend(line);

});
socket.on('S_get_save_pos', (abc,data)=>{
  // abc,{time:get_time(thoigian),subject:strencode(mess.subject),idc:mess.idc}
  id_inbox_pos++;
  var idc = "2"+id_inbox_pos;
  var tin = {id_pos:idc, subject:strdecode(data.subject), id_tinnha_client:data.idc, time:show_time(data.time) };
  mang_save.push(tin);
  var line = "<div class='line_inbox' id='save"+idc+"' ><input type='checkbox' id='"+idc+"' class='line_inbox_chk' onclick='checkbox_save_click("+idc+");'><div class='line_inbox_main' onclick='save_click("+idc+")'><div class='line_save_sub'>"+strdecode(data.subject)+"</div><div class='line_inbox_time'>"+show_time(data.time)+"</div></div></div>";
 $("#k_save").prepend(line);
  socket.emit("C_get_save_mes", "web",data.idc);
});
socket.on('S_get_tinnhan',(C_mei, data)=>{
  if(C_mei===mafull){
    document.getElementById("id_input_subject").value="";
    mang_contact_ok.forEach((row,key)=>{
      $("#btn"+row.id).html("Add");
      if(key===(mang_contact_ok.length-1)){mang_contact_ok=[];}
  });
    $("#id_list_contact_ok").html("");
    alert('Sending location successfully');
  }
  // {ids:res.insertId, subject:strencode(mess.subject),nguoinhan:nguoinhans,idc:mess.id,time:get_time(thoigian)});
  id_inbox_pos++;
  var ab = "";
  var space = "";
  var idc = "3"+id_inbox_pos;
  var tin = {id_pos:idc, nhom_nguoinhan:data.nguoinhan, subject:strdecode(data.subject), id_tinnha_client:data.idc, thoigian:show_time(data.time) };
  mang_send.push(tin);
  data.nguoinhan.forEach((row1,key)=>{
     if(key===(data.nguoinhan.length-1)){space="";}
     else {space = ";";}
     ab=ab+"<font color='red'>"+strdecode(row1.name)+"</font>" +space;
   });
  var line = "<div class='line_inbox' id='send"+idc+"'><input type='checkbox' id='"+idc+"' class='line_send_chk' onclick='checkbox_send_click("+idc+");'><div class='line_send_main' onclick='send_click("+idc+")'><div class='line_send_sub'>"+strdecode(data.subject)+"</div><div class='line_send_time'>"+show_time(data.time)+"</div><div class='line_send_from'>To:"+ab+"</div><div class='line_send_read'></div></div></div>";
   $("#k_send").prepend(line);
});
socket.on('C_danhantinnhan',(data)=>{
  mang_send.forEach((tin)=>{
    if(tin.id_tinnha_client ===data.idc){
      let ab = "";
      let space="";
      tin.nhom_nguoinhan.forEach((row,key)=>{
         if(key===(tin.nhom_nguoinhan.length-1)){space="";}else {space = "; ";}
         if(row.number === data.nguoinhan){ab=ab+strdecode(row.name)+space;row.stt='Y';}
         else {
           if(row.stt ==='N'){ab=ab+"<font color='red'>"+strdecode(row.name)+"</font>" +space;}
           else {ab=ab+strdecode(row.name)+space;}

         }
      });
      var line = "<div class='line_inbox' id='send"+tin.id_pos+"'><input type='checkbox' id='"+tin.id_pos+"' class='line_send_chk' onclick='checkbox_send_click("+tin.id_pos+");'><div class='line_send_main' onclick='send_click("+tin.id_pos+")'><div class='line_send_sub'>"+strdecode(tin.subject)+"</div><div class='line_send_time'>"+tin.thoigian+"</div><div class='line_send_from'>To:"+ab+"</div><div class='line_send_read'></div></div></div>";
      $("#send"+tin.id_pos).html(line);
      return false;
    }
  });
  // chuyển đổi màu sắc sang đỏ đối với người

});
function online_clk(room,name){
  socket.on('S_get_join',()=>{
    document.getElementById("id_online_text").style.display = "block";
    $("#id_input_subject").val(room_name_chose);
      socket.off('S_get_join');
      socket.on('S_pos_online',(data)=>{
        mang_infowindow_main.forEach((tin)=>{
          if(tin.online==='O' && tin.id === data.number){
            let name1 = tin.name;
            let id1 = tin.id;
            tin.lat = data.lat;
            tin.lon = data.lon;
            tin.dem = 0;
            document.getElementById("li_lo"+tin.id).style.color= "white";
            if(mang_infowindow.length >0){
              var check=true;
              mang_infowindow.forEach((row,key)=>{
                if(row.id === tin.id && row.wind != null){
                  check= false;
                  var latlng = new google.maps.LatLng(data.lat, data.lon);
                  row.wind.setPosition(latlng);
                  return false;
                }
                if(key===(mang_infowindow.length-1) && check ){
                  let chuoi = "<div class='icon_live'>"+tin.name+"</div>";
                  var infow = new google.maps.InfoWindow({
                    position:{ lat:data.lat, lng: data.lon},
                    content:chuoi,
                    disableAutoPan : true
                  });
                  mang_infowindow.push({id:id1,wind:infow});
                  infow.open(map);
                  google.maps.event.addListener(infow,'closeclick',function(){
                for (var i=0; i<mang_infowindow.length; i++){
                    if(mang_infowindow[i].id == id1){
                      mang_infowindow.splice(i,1);
                      break;
                    }
                  }
                });
              }
              });
            }
            else {
              let chuoi = "<div class='icon_live'>"+tin.name+"</div>";
              var infow = new google.maps.InfoWindow({
                position:{ lat:data.lat, lng: data.lon},
                content:chuoi,
                disableAutoPan: true
              });
              mang_infowindow.push({id:tin.id,wind:infow});
              infow.open(map);
              google.maps.event.addListener(infow,'closeclick',function(){
              for (var i=0; i<mang_infowindow.length; i++){
                  if(mang_infowindow[i].id == id1){
                    mang_infowindow.splice(i,1);
                    break;
                  }
                }
              });
            }
            return false;
          }
        });
      });
    });
  socket.emit('C_join_room',room);
  room_name_chose =name;
}
function speak_loud(noi_dung){
  var msg = new SpeechSynthesisUtterance(noi_dung);
  window.speechSynthesis.speak(msg);
}
function kiemtra(){
  // var url = "https://translate.google.com/translate_tts?ie=utf-8&q="+hihi+"&tl=en";
  // $("audio").attr('src', url).get(0).play();
  if(document.getElementById("btn_sw_map").innerHTML =="Map"){
    document.getElementById("btn_sw_map").innerHTML = "Satelite";
    map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
  }
  else {
    document.getElementById("btn_sw_map").innerHTML = "Map";
    map.setMapTypeId(google.maps.MapTypeId.HYBRID);
  }
}
function hide_show_pos(id){
  if(document.getElementById("chk"+id).checked == true){cancle_luudiem(id);}
  else {
    for (var i=0; i<mang_infowindow_main.length; i++){
      if(mang_infowindow_main[i].id ==id){
        var lat1 = mang_infowindow_main[i].lat;
        var lon1 = mang_infowindow_main[i].lon;
        let name1 = "<div class='icon'>"+mang_infowindow_main[i].name+"</div>";
        // var name1 = mang_infowindow_main[i].name;
        var infowindow = new google.maps.InfoWindow({
            position:{ lat:lat1, lng:lon1},
            content:name1
        });
          // infowindow.setContent(name1);
          infowindow.open(map);
          var win = {id:id, wind: infowindow};
          mang_infowindow.push(win);
          google.maps.event.addListener(infowindow, 'closeclick', function() {
            document.getElementById("li_lo"+id).remove();
            for(var i=0; i<mang_infowindow.length; i++){
              if(mang_infowindow[i].id == id){
                mang_infowindow.splice(i,1);
                break;
              }
            }
            for(var i=0; i<mang_infowindow_main.length; i++){
              if(mang_infowindow_main[i].id == id){
                mang_infowindow_main.splice(i,1);
                break;
              }
            }

          });
      break;
        }
      }
  }
}
function show_pos(lat,lon, name, id1,stt){
  let chuoi = "<div class='icon'>"+name+"</div>";
  var infow = new google.maps.InfoWindow({
      position:{ lat:lat, lng: lon},
      content:chuoi,

    });
    mang_infowindow_main.push({name:name,lat:lat,lon:lon,id:id1, online:stt,dem:0});
    mang_infowindow.push({id:id1, wind: infow});
    infow.open(map);
    google.maps.event.addListener(infow,'closeclick',function(){
      document.getElementById("li_lo"+id1).remove();
      for (var i=0; i<mang_infowindow.length; i++){
        if(mang_infowindow[i].id == id1){
          mang_infowindow.splice(i,1);
          break;
        }
      }
      for (var k=0; k<mang_infowindow_main.length; k++){
        if(mang_infowindow_main[k].id == id1){
          mang_infowindow_main.splice(k,1);
          break;
        }
      }
  });
}
function fly_to(id){
  mang_infowindow.forEach((tin)=>{
    if(tin.id == id){
      if(tin.wind != null){
      var center = new google.maps.LatLng(tin.wind.getPosition().lat(),tin.wind.getPosition().lng());
       map.panTo(center);
       map.setZoom(15);
       return false;
     }
    }
  });
}
function handleChange(checkbox,id1){
    if(checkbox.checked == true){
      cancle_luudiem(id1);
    }else{
      for (var i=0; i<mang_infowindow_main.length; i++){
        if(mang_infowindow_main[i].id ==id1){
          var lat1 = mang_infowindow_main[i].lat;
          var lon1 = mang_infowindow_main[i].lon;
          var name1 = mang_infowindow_main[i].name;
          var infowindow = new google.maps.InfoWindow({
              position:{ lat:lat1, lng:lon1}
          });
            infowindow.setContent(name1);
            infowindow.open(map);
            var win = {id:id1, wind: infowindow};
            mang_infowindow.push(win);
            google.maps.event.addListener(infowindow, 'closeclick', function() {$("#"+id1).html("");});
        return false;
          }
        }
   }
}
function guitinnhan(){
    var sub = document.getElementById("id_input_subject").value.trim();
    if ( sub === ""){
    alert('There is no subjet.');
  }
    else {
    if (mang_contact_ok.length ==0){
      alert('There is no receiver.');
    }
    else {
      if (mang_infowindow_main.length == 0){
        alert('There is no position in map to send.');
      }
      else {
        var ma1 = Math.floor(Math.random()*(9000)+1000);
        var ma2 =Math.floor(Math.random()*(9000)+1000);
        mafull = ""+ma1+ma2;
        var tinnhanfull = {subject:sub,nguoinhan:mang_contact_ok, pos:mang_infowindow_main, id:mafull,imei:mafull};
        socket.emit('C_gui_tinnhan',tinnhanfull);
      }
    }
  }
}
function lưu_tinnhan(){

  // clearInterval(timer);
  var sub = document.getElementById("id_input_subject").value.trim();
    if ( sub === ""){alert('There is no subjet.');}
    else {if (mang_infowindow_main.length == 0){alert('There is no position in map to save.');}
      else {
        var ma1 = Math.floor(Math.random()*(9000)+1000);
        var ma2 =Math.floor(Math.random()*(9000)+1000);
        mafull = "22"+ma1+ma2;
        var tinnhanfull = {subject:sub,vitri:mang_infowindow_main, idc:mafull, imei:mafull};
        socket.emit('C_save_pos',tinnhanfull);
      }

  }
}
function open_close_list(){
  if(document.getElementById("id_btn_list").textContent === "List"){
    document.getElementById("id_right_bar").style.right = "0px";
      $("#id_btn_list").html("Hide");
  }
  else {
    document.getElementById("id_right_bar").style.right = "-250px";
      $("#id_btn_list").html("List");
  }
}
function myMap(){
      var mapOptions = {
      center: new google.maps.LatLng(41.5, -0.12),
      zoom: 10,
      // mapTypeId: google.maps.MapTypeId.HYBRID,
      scrollwheel: true,
      navigationControl: true,
      scaleControl: true,
      draggable: true,
      disableDoubleClickZoom: true,
      fullscreenControl: false,
      mapTypeControl:  false,
      rotateControl: true,
      // mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.VER_BAR,position: google.maps.ControlPosition.BOTT_LEFT,}
      // mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.VER_BAR,position: google.maps.ControlPosition.BOTT_LEFT,}
    }
      $(document).ready(function(){
          map = new google.maps.Map(document.getElementById("map"), mapOptions);
          map.setTilt(45);
          google.maps.event.addListener(map, "rightclick", function(event) {map_rightclick(event.latLng.lat(),event.latLng.lng()); });

      });
}
function map_rightclick( lat1, lon1){
  if(mang_infowindow.length>0){
    if(mang_infowindow[mang_infowindow.length-1].stt=='N'){
      mang_infowindow[mang_infowindow.length-1].wind.close();
      mang_infowindow.splice(mang_infowindow.length-1, 1);
    }
  }
  var id =  new Date().getTime();
  var infowindow = new google.maps.InfoWindow({
      position:{ lat:lat1, lng: lon1}
    });
    var noidung=  "<div class='info_wrap'><div>Input name of this place</div><input type='text' id='input_123' class='info_input'></input>"+
    "<div class='posname_2'><button onclick='cancle_luudiem("+id+")' class='info_cancle'>CANCLE</button>"+
    "<button onclick='luudiem("+lat1+","+lon1+","+id+")' class='info_ok'>OK</button></div></div>";
    infowindow.setContent(noidung);
    infowindow.open(map);
    var win = {id:id, wind: infowindow, stt:'N'};
    mang_infowindow.push(win);
}
function luudiem(lat1, lon1, id1){
  var name1 = document.getElementById("input_123").value;
  for (var i=0; i<mang_infowindow.length; i++){
    if(mang_infowindow[i].id ==id1){
      let chuoi = "<div class='icon'>"+name1+"</div>";
      mang_infowindow[i].wind.setContent(chuoi);
      mang_infowindow[i].stt = 'Y';
      var diem2 = {name:name1, lat:lat1, lon:lon1, id:id1,stt:'A',dem:0};
      mang_infowindow_main.push(diem2);
      var line = "<div class='list_line' id='li_lo"+id1+"'><div class='lo_list_sub' onclick='fly_to("+id1+")'>"+name1+"</div><input type='checkbox' class='list_line_checkbox' id='chk"+id1+"' onchange='hide_show_pos("+id1+")'><div class='lo_list_show'>Hide</div></div>";
      $("#id_location_list").append(line);
      google.maps.event.addListener(mang_infowindow[i].wind,'closeclick',function(){
        document.getElementById("li_lo"+id1).remove();
        for (var i=0; i<mang_infowindow.length; i++){
          if(mang_infowindow[i].id == id1){
            mang_infowindow.splice(i,1);
            break;
          }
        }
        for (var k=0; k<mang_infowindow_main.length; k++){
          if(mang_infowindow_main[k].id == id1){
            mang_infowindow_main.splice(k,1);
            break;
          }
        }
      });
      return false;
      }
    }
}
function cancle_luudiem(id){
  for (var i=0; i<mang_infowindow.length; i++){
    if(mang_infowindow[i].id ==id){
    mang_infowindow[i].wind.close();
    mang_infowindow.splice(i, 1);
    return false;
      }
    }
  }
function show_time(time){
  let year = time.year;
  let month=time.month;
  let day = time.day;
  let hr = time.hr;
  let min = time.min;
  let sec = time.sec;
  let zone = time.time_zone;
  let day1 = new Date(year, month, day, hr, min, sec);
  let C_zone  = new Date().getTimezoneOffset();
  day1.setMinutes(day1.getMinutes()+zone - C_zone);
  return day1.getFullYear()+" "+(day1.getMonth()+1)+"/"+day1.getDate()+" "+day1.getHours()+":"+day1.getMinutes()+":"+day1.getSeconds();

}
function inbox_click(id,nam){
  // lấy cái id kia làm cái id tin nhắn client luôn
  socket.emit('C_reques_point_inbox',id);
  room_name_chose = nam;
  socket.off('S_pos_online');
  document.getElementById("id_online_text").style.display = "none";
  socket.on('S_send_point',(data)=>{
    $("#id_location_list").html("");
    $("#id_input_subject").val(room_name_chose);
    if(mang_infowindow.length > 0){
      mang_infowindow.forEach((win,key)=>{
      if(win.wind != null) {win.wind.close();}
      if(key === (mang_infowindow.length-1)){
        mang_infowindow=[];
        mang_infowindow_main=[];
        data.forEach((tin)=>{
          show_pos(tin.lat, tin.lon, strdecode(tin.name), tin.id,'A');
          var line = "<div class='list_line' id='li_lo"+tin.id+"'><div class='lo_list_sub' onclick='fly_to("+tin.id+")'>"+strdecode(tin.name)+"</div><input type='checkbox' class='list_line_checkbox' id='chk"+tin.id+"' onchange='hide_show_pos("+tin.id+")'><div class='lo_list_show'>Hide</div></div>";
          $("#id_location_list").append(line);
          });
        }
      });
    }
    else {
      data.forEach((tin)=>{
      show_pos(tin.lat, tin.lon, strdecode(tin.name),tin.id,'A');
      var line = "<div class='list_line' id='li_lo"+tin.id+"'><div class='lo_list_sub' onclick='fly_to("+tin.id+")'>"+strdecode(tin.name)+"</div><input type='checkbox' class='list_line_checkbox' id='chk"+tin.id+"' onchange='hide_show_pos("+tin.id+")'><div class='lo_list_show'>Hide</div></div>";
      $("#id_location_list").append(line);
    });
    }
    socket.off('S_send_point');
  });
}
function save_click(id,name){
  room_name_chose = name;
  document.getElementById("id_online_text").style.display = "none";
  socket.off('S_pos_online');
  socket.emit('C_reques_point',id);
  socket.on('S_send_point',(data)=>{
  $("#id_location_list").html("");
  $("#id_input_subject").val(room_name_chose);
  if(mang_infowindow.length > 0){
    mang_infowindow.forEach((win,key)=>{
          win.wind.close();
          if(key === (mang_infowindow.length-1)){
            mang_infowindow = [];
            mang_infowindow_main=[];
            data.forEach((tin)=>{
              show_pos(tin.lat, tin.lon, strdecode(tin.name), tin.id,'A');
              var line = "<div class='list_line' id='li_lo"+tin.id+"'><div class='lo_list_sub' onclick='fly_to("+tin.id+")'>"+strdecode(tin.name)+"</div><input type='checkbox' class='list_line_checkbox' id='chk"+tin.id+"' onchange='hide_show_pos("+tin.id+")'><div class='lo_list_show'>Hide</div></div>";
              $("#id_location_list").append(line);
              });
            }
          });
        }
        else {
          data.forEach((tin)=>{
          show_pos(tin.lat, tin.lon, strdecode(tin.name),tin.id,'A');
          var line = "<div class='list_line' id='li_lo"+tin.id+"'><div class='lo_list_sub' onclick='fly_to("+tin.id+")'>"+strdecode(tin.name)+"</div><input type='checkbox' class='list_line_checkbox' id='chk"+tin.id+"' onchange='hide_show_pos("+tin.id+")'><div class='lo_list_show'>Hide</div></div>";
          $("#id_location_list").append(line);
        });
        }
        socket.off('S_send_point');
  });
}
function send_click(id,name){
  room_name_chose = name;
  socket.off('S_pos_online');
  document.getElementById("id_online_text").style.display = "none";
  socket.emit('C_reques_point',id);
      socket.on('S_send_point',(data)=>{
        $("#id_location_list").html("");
        $("#id_input_subject").val(room_name_chose);
        if(mang_infowindow.length > 0){
          mang_infowindow.forEach((win,key)=>{
          win.wind.close();
          if(key === (mang_infowindow.length-1)){
            mang_infowindow = [];
            mang_infowindow_main=[];
            data.forEach((tin)=>{
              show_pos(tin.lat, tin.lon, strdecode(tin.name), tin.id,'A');
              var line = "<div class='list_line' id='li_lo"+tin.id+"'><div class='lo_list_sub' onclick='fly_to("+tin.id+")'>"+strdecode(tin.name)+"</div><input type='checkbox' class='list_line_checkbox' id='chk"+tin.id+"' onchange='hide_show_pos("+tin.id+")'><div class='lo_list_show'>Hide</div></div>";
              $("#id_location_list").append(line);
              });
            }
          });
        }
        else {
          data.forEach((tin)=>{
          show_pos(tin.lat, tin.lon, strdecode(tin.name),tin.id,'A');
          var line = "<div class='list_line' id='li_lo"+tin.id+"'><div class='lo_list_sub' onclick='fly_to("+tin.id+")'>"+strdecode(tin.name)+"</div><input type='checkbox' class='list_line_checkbox' id='chk"+tin.id+"' onchange='hide_show_pos("+tin.id+")'><div class='lo_list_show'>Hide</div></div>";
          $("#id_location_list").append(line);
        });
        }
        socket.off('S_send_point');
      });

}
function search_contact(){
  document.getElementById("id_list_contact").style.display = "none";
  $("#id_list_contact_search").html("");
  var chuoi = document.getElementById("id_input_contact").value.trim();
  if (chuoi.charAt(0)=='0'){chuoi = chuoi.substr(1);}
  if (chuoi.length>0){
    document.getElementById("id_list_contact_search").style.display = "block";
    var kiemtra = true;
    for (var i=0; i<mang_contact.length; i++){
      if  ( strdecode(mang_contact[i].name).toLowerCase().indexOf(chuoi.toLowerCase()) !== -1 || mang_contact[i].number.toLowerCase().indexOf(chuoi.toLowerCase()) !== -1){
        var line = "<div class='list_contact_main_line'><div style='position:absolute;' id='list_contact_name'>"+strdecode(mang_contact[i].name)+"</div><div class='list_contact_line_number' id='list_contact_number'>"+mang_contact[i].number+"</div><button class='list_contact_line_btn' id='bt"+mang_contact[i].id+"' onclick='add_contact__search_click("+mang_contact[i].id+")'>"+document.getElementById("btn"+mang_contact[i].id).textContent+"</button></div>";
          $("#id_list_contact_search").append(line);
          kiemtra = false;
        }
    }
      if (kiemtra){
          $("#id_list_contact_search").html("");
        // nếu không tìm thấy trong list contact hiện hữu thì sẽ tìm trên server
        // ten = "There is no item found in your listcontact. </br>Please input more letter to search in Global.";
        // $("#my_list_contact").html( ten);
        // var abc = ""+ten.length;
        // if (chuoi.trim().length >5){
        // socket.emit('W_check_contact',chuoi);
        // }
      }
  }
  else { document.getElementById("id_list_contact_search").style.display = "none";}
}
function add_contact__search_click(id){
  var x = document.getElementById("bt"+id).textContent;
  if(x === "Add"){
    mang_contact.forEach((row,key)=>{
      if(row.id == id){
        mang_contact_ok.push({id:id, name:strdecode(row.name), number:row.number});
        var line = "<div class='list_contact_ok_item' id='"+id+"'><div class='a111'>"+strdecode(row.name)+"</div><button class='a222' onclick='del_contact_ok("+id+")'>X</button></div>";
        $("#id_list_contact_ok").append(line);
        return false;
      }
    });
    $("#btn"+id).html("Move");
    $("#bt"+id).html("Move");
  }
  else {
    del_contact_ok(id);
    $("#btn"+id).html("Add");
    $("#bt"+id).html("Add");
  }
}
function add_contact_click(id){
  var x = document.getElementById("btn"+id).textContent;
  if(x === "Add"){
    mang_contact.forEach((row,key)=>{
      if(row.id == id){
        mang_contact_ok.push({id:id, name:strdecode(row.name), number:row.number});
        var line = "<div class='list_contact_ok_item' id='"+id+"'><div class='a111'>"+strdecode(row.name)+"</div><button class='a222' onclick='del_contact_ok("+id+")'>X</button></div>";
        $("#id_list_contact_ok").append(line);
        return false;
      }
    });
    $("#btn"+id).html("Move");
  }
  else {
    del_contact_ok(id);
    $("#btn"+id).html("Add");
  }
}
function del_contact_ok(id){
  document.getElementById(id).remove();
  $("#btn"+id).html("Add");
   for(var i=mang_contact_ok.length-1; i >=0 ; i--){
     if(mang_contact_ok[i].id == id){
       mang_contact_ok.splice(i, 1);
       return false;
     }
   }

}
function xoadiem_inbox(){
  list_del_inbox = [];
  var list_checkbox = document.getElementsByClassName("line_inbox_chk");
    // $("#id_btn_send").html(list_checkbox[2].id);
  for (var i = 0; i < list_checkbox.length; i++) {
    if(list_checkbox[i].checked){
      mang_inbox.forEach((row1, key)=>{
        // nếu hàng đó có chọn thì sẽ lấy cái id của hàng đó, rồi tìm trong mảng, lấy cái id tin nhắn ra
        // đưa vào danh sách gửi đi.
        if(row1.id_pos==list_checkbox[i].id){
          list_del_inbox.push({idc:row1.id_tinnha_client});
          return false;
        }
        })
    }
    }
    if(list_del_inbox.length>0){
      var item="";
      if (list_del_inbox.length>1){item = "items";}else{item="item";}
      var r = confirm(list_del_inbox.length+" "+item+" will be deleted");
      if (r == true) {socket.emit("C_del_inbox",list_del_inbox); }
    }
}
function xoadiem_room(){
  list_del_online = [];
  var list_checkbox = document.getElementsByClassName("line_online_chk");
    // $("#id_btn_send").html(list_checkbox[2].id);
  for (var i = 0; i < list_checkbox.length; i++) {
    if(list_checkbox[i].checked){
      mang_room.forEach((row1, key)=>{
        if(row1.id_pos==list_checkbox[i].id){
          list_del_online.push({idc:row1.room_id});
          return false;
        }
        })
    }
    }
    if(list_del_online.length>0){
      var item="";
      if (list_del_online.length>1){item = "items";}else{item="item";}
      var r = confirm(list_del_online.length+" "+item+" will be deleted");
      if (r == true) {socket.emit("C_del_online",list_del_online);}
    }
}
function xoadiem_send(){
  list_del_send = [];
  var list_checkbox = document.getElementsByClassName("line_send_chk");
    // $("#id_btn_send").html(list_checkbox[2].id);
  for (var i = 0; i < list_checkbox.length; i++) {
    if(list_checkbox[i].checked){
      mang_send.forEach((row1, key)=>{
        // nếu hàng đó có chọn thì sẽ lấy cái id của hàng đó, rồi tìm trong mảng, lấy cái id tin nhắn ra
        // đưa vào danh sách gửi đi.
        if(row1.id_pos==list_checkbox[i].id){
          list_del_send.push({idc:row1.id_tinnha_client});
          return false;
        }
        })
    }
    }
    if(list_del_send.length>0){
      var item="";
      if (list_del_send.length>1){item = "items";}else{item="item";}
      var r = confirm(list_del_send.length+" "+item+" will be deleted");
      if (r == true) {socket.emit("C_del_send",list_del_send);}
    }
}
function checkbox_inbox_click(idc){
    var stt=0;
    var list_checkbox = document.getElementsByClassName("line_inbox_chk");
    for (var i = 0; i < list_checkbox.length; i++) {
      if(list_checkbox[i].checked){stt++;}
    }
    if(stt >0){
      document.getElementById("id_content_inbox_del").style.display = "block";
      if(stt>1) {$("#id_content_inbox_del_item").html(stt+" items were chosen");}
      else {$("#id_content_inbox_del_item").html(stt+" item was chosen");}
  }
    else {document.getElementById("id_content_inbox_del").style.display = "none";}

}
function checkbox_online_click(idc){
    var stt=0;
    var list_checkbox = document.getElementsByClassName("line_online_chk");
    for (var i = 0; i < list_checkbox.length; i++) {if(list_checkbox[i].checked){stt++;}}
    if(stt >0){
      document.getElementById("id_content_online_del").style.display = "block";
      if(stt>1) {$("#id_content_online_del_item").html(stt+" items were chosen");}
      else {$("#id_content_online_del_item").html(stt+" item was chosen");}
  }
    else {document.getElementById("id_content_online_del").style.display = "none";}

}
function checkbox_send_click(idc){
    var stt=0;
    var list_checkbox = document.getElementsByClassName("line_send_chk");
    for (var i = 0; i < list_checkbox.length; i++) {
      if(list_checkbox[i].checked){stt++;}
    }
    if(stt >0){
      document.getElementById("id_content_send_del").style.display = "block";
      if(stt>1) {$("#id_content_send_del_item").html(stt+" items were chosen");}
      else {$("#id_content_send_del_item").html(stt+" item was chosen");}
  }
    else {document.getElementById("id_content_send_del").style.display = "none";}

}
function checkbox_save_click(idc){
    var stt=0;
    var list_checkbox = document.getElementsByClassName("line_save_chk");
    for (var i = 0; i < list_checkbox.length; i++) {
      if(list_checkbox[i].checked){stt++;}
    }
    if(stt >0){
      document.getElementById("id_content_save_del").style.display = "block";
      if(stt>1) {$("#id_content_save_del_item").html(stt+" items were chosen");}
      else {$("#id_content_save_del_item").html(stt+" item was chosen");}
  }
    else {document.getElementById("id_content_save_del").style.display = "none";}

}
function show_contact_list(){
  if(document.getElementById("id_list_contact").style.display == "block"){
  document.getElementById("id_list_contact").style.display = "none";
  }
  else {
    // nếu mục chính contact không hiện, thì có 2 trường hợp: 1 là nó ẩn, và 2 là mục tìm kiếm đang hiện
      if(document.getElementById("id_list_contact_search").style.display == "block"){
        document.getElementById("id_list_contact_search").style.display = "none";
      }
      else {
        document.getElementById("id_list_contact").style.display = "block";
      }


  }
  // mang_contact.forEach((tin)=>{
  //   var chuoi  ="<div class='line_inbox' ><div style='position:absolute;left:5px;width:150px;'>"+ strdecode(tin.name) +"</div></br>"+
  //   "<div style='position:absolute; left:5px'>"+strdecode(tin.number)+"</div></div>";
  //    $("#my_list_contact").append( chuoi);
  // });
  }
function show_content_top_right(id){
  document.getElementById(id).style.display = "block";
}
function log_out(){
  socket.emit('C_leave_off');
  socket.on('log_out_ok',()=>{
    window.location.replace("https://epos188.herokuapp.com/");
  });
}
window.onclick = function(event) {

  if (!event.target.matches('.btn_account')) {
    document.getElementById("id_content_account").style.display = "none";
  }
  if (!(event.target.matches('.btn_online')||(event.target.matches('.line_online_chk')  )  )  ) {
    document.getElementById("id_content_online").style.display = "none";
  }

  if (!(event.target.matches('.btn_save')||(event.target.matches('.line_save_chk')  )  )  ) {
    document.getElementById("id_content_save").style.display = "none";
  }

  if (!(event.target.matches('.btn_send')||(event.target.matches('.line_send_chk')  )  )  ) {
    document.getElementById("id_content_send").style.display = "none";
  }
  if (!(event.target.matches('.btn_inbox')||(event.target.matches('.line_inbox_chk')  )  )  ) {
    document.getElementById("id_content_inbox").style.display = "none";
  }

}
</script>
</head>
<body>
  <div class="wrapper">
      <div class="top_right">
        <div class="top_right_item">
          <button class="btn_account" onclick="log_out()">LOG OUT</button>
          <div class="content_account" id="id_content_account"></div>
        </div>
        <div class="top_right_item">
          <button class="btn_online" onclick="show_content_top_right('id_content_online')">ONLINE</button>
          <div class="content_online" id="id_content_online">
            <div class="content_del" id="id_content_online_del"><div class="content_inbox_del_item" id="id_content_online_del_item"></div><button class="content_inbox_del_btn" onclick="xoadiem_room()">Del</button></div>
            <div style="height:1px; width:100px;" id="k_online"></div>
          </div>
        </div>
        <div class="top_right_item">
          <button class="btn_save" onclick="show_content_top_right('id_content_save')">SAVE</button>
          <div class="content_save" id="id_content_save">
            <div class="content_del" id="id_content_save_del"><div class="content_inbox_del_item" id="id_content_save_del_item"></div><button class="content_inbox_del_btn" onclick="xoadiem_save()">Del</button></div>
            <div style="height:1px; width:100px;" id="k_save"></div>
          </div>
        </div>
        <div class="top_right_item">
          <button class="btn_send" onclick="show_content_top_right('id_content_send')">SEND</button>
          <div class="content_send" id="id_content_send">
            <div class="content_del" id="id_content_send_del"><div class="content_inbox_del_item" id="id_content_send_del_item"></div><button class="content_inbox_del_btn" onclick="xoadiem_send()">Del</button></div>
            <div style="height:1px; width:100px;" id="k_send"></div>
          </div>
        </div>
        <div class="top_right_item">
          <button class="btn_inbox" onclick="show_content_top_right('id_content_inbox')">INBOX</button>
          <div class="content_inbox" id="id_content_inbox">
            <div class="content_del" id="id_content_inbox_del"><div class="content_inbox_del_item" id="id_content_inbox_del_item"></div><button class="content_inbox_del_btn" onclick="xoadiem_inbox()">Del</button></div>
            <div style="height:1px; width:100px;" id="k_inbox"></div>
          </div>
        </div>
      </div>
      <div class="top_left">
        <div  class="online_text" id="id_online_text"><i><mark>online</mark></i></div>
        <div class="input_sub_wrap"><input type="text" class="input_sub" autocomplete="off" placeholder="Subject" id="id_input_subject"></input></div>
        <!-- <button style="position:absolute;left:5px;bottom:50px" onclick="show_contact_list()">Contact</button> -->
        <div class="input_cont_wrap">
          <input type="text" class="input_contact" id="id_input_contact" placeholder="Search contact" oninput="search_contact()" autocomplete="off"></input>
          <button class="btn_show_cont"></button>
        </div>
        <button style="position:absolute;width: 50px;height:30px;left:230px;bottom:50px" id="id_btn_save" onclick="lưu_tinnhan()">SAVE</button>
        <button style="position:absolute;width: 50px;height:30px;left:290px;bottom:50px" id="id_btn_send" onclick="guitinnhan()">SEND</button>
        <div class="list_contact_ok" id="id_list_contact_ok"></div>
        <div class="list_contact" id="id_list_contact"></div>
        <div class="list_contact" id="id_list_contact_search"></div>
      </div>
      <div class="right_bar" id="id_right_bar">
        <button class="btn_list" onclick="open_close_list()" id="id_btn_list">List</button>
        <div class="location_list" id="id_location_list"></div>
      </div>
      <button class="bottom_right" onclick="kiemtra()" id="btn_sw_map">Satelite</button>
      <div id="map" class="class_map"></div>
      <!-- <audio src="" hidden></audio> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTmmp8QAjy0E7SWlcrAFjRRTzGefS4lH0&callback=myMap" type="text/javascript"></script>
  </div>

  </body>
</html>
