<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;application/json; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>epos188</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
  <div class="wrap" id="id_wrap">
    <div class="blue">
        <div class ="img_icon"> <img src="d34.png" alt="icon" height="60" width="60"> </div>
    </div>
    <div class="main_pic">
      <div class="main_content">
        Caro game is a another name of gomoku game. The winner is the first person to have a continuous sequence of 5 pieces of horizontal, or vertical, or diagonal, without two heads blocked. </br>
  Players use email to register for an account. After successful registration, players will enter the main interface of the game. </br>
  By default, you will be playing alone. Meanwhile, you will play two roles, x and y. If you want to search for players along, you have to search for players in the search section. You enter valid mail address to search, then press the search button, if that account is registered, the results will appear. </br>
  When you click on a player, the game with that palyer will appear, and he ( she) will automatically save to your phone. You can play with multiple people at the same time, by selecting a player from the list. Game data will be saved on your phone and the player's phone, not on the server. During the game, if you press “ New game” to play new game, that game data will be deleted on your phone. If the other player agrees, the game data will be deleted and both will play a new game. If the other player doesn't agree, the other player's game data will be sent back to you.

      </div>
  </div>
  </div>
  </body>
</html>
