<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;application/json; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style3.css" />
<title>Windlaxy</title>
<script src="jquery-3.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

</head>
<body>
<div class="wrap">
  <div class="blue">
    <div class ="img_icon"> <img src="a6.png" alt="icon" height="60" width="60"> </div>
  </div>
  <div class="main_content">
    <div class="content">
  <b> INTRODUTION </b></br>
<b>1. To name a location on map </b></br>
- There are 3 ways to do:</br>
+ Click on button “Map”: this allows you to chose and name the place at the bottom of icon.</br>
+ Click on button “ GPS”: if you turn on GPS, this button allows you to chose and name  the place at your gps location.</br>
+ Click on button “Available”: if you’ve already had some place in your inbox, send or save, you could import them to current map.</br>
- To see list of location, just drag the navigation drawer from the right edge to the left, your location list will be appeared. To temporarily hide some of place, just check or uncheck the checkbox of that place.</br>

<b>2. Send location to friends</b></br>
- After naming some locations on map, you could send them to friends by chosing recipients.  After chosing recipients,  you just click on “Send” to share your locations to friends, and don’t forget name that message. If the message is sent successfully, it will be saved in the “Sent”.</br>
- If you receive a message from your friends, it will be saved in “Inbox”. If you don’t want to share your message to friend, just save it, by clicking on button “Save”, then, it will be save on “Save”.</br>
<b>3. Send location realtime</b></br>
- You could send your realtime gps location to a group. You could make a group or your friends do that. To make a grop, click on “Online”, then click “Create room”. Then, name that roome, add members, then click “ OK”. if a room is created successfully, it will be on main screen of “Online”. On that row, you will see a check box at the right cornor.
Just check that if you want to share your realtime gps location to that room. You could share one or many rooms as you want.</br>
- If you want to see your realtime gps location of member of room, just click that row, you will be in that room, and will see all of their realtime gps location. To see list of location, just drag the navigation drawer from the right edge to the left,
 your location list will be appeared. To temporarily hide some of place,
 just check or uncheck the checkbox of that place.</br>
<b>4. Setup alarm</b> </br>
- Click on a location map, there are 2 options to be appeared: rename that place and setup alarm. </br>
- Click on setup alarm, then chose ringtone, distance to that place, and chose “close to” or “far to”. </br>
-Then click “Ok”. If a setting up alarm successfully, that place will be in list of  “Alarm” . </br>
Note: you must turn on your gps all the time to get alarm when you close to or far away from a place.</br>

    </br></br>
    <b>  OUR PRIVACY POLICY </b></br>
      Windlaxy needs to access GPS loation to get your gps location to show on your map or to send to group.</br>

    </div>
  </div>
</div>
</body>
</html>
