<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;application/json; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style3.css" />
<title>Windlaxy</title>
<script src="jquery-3.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

</head>
<body>
<div class="wrap" id="id_wrap">
  <div class="blue">
    <div class="k1">
      <div class ="img_icon"> <img src="a6.png" alt="icon" height="60" width="60"> </div>
    
    </div>
  </div>
  <div class="main_pic">
    <div class="main_content">

      PRIVACY POLICY</br></br>
      ABOUT WINDLAXY </br>
      With Windlaxy, you could get one or many location by pointing on map or getting gps location.    Then you could save them, send them to your friend. You send your gps loation realtime by make a group, and send your gps location to that group. When you come into group, you could see your friend gps location ( if they send their gps location).</br></br>
      OUR PRIVACY POLICY </br>
      Windlaxy need to access some features of your phone:</br>
      - GPS loation:To get your gps location to show on your map or to send to group.</br>
      - Read phone state: to verify your number phone at your first registration or when you forget your password.</br>

  </div></div>

  <div class="white_2"><div class="white_2_2">
    <div class="policy"><a href="/privacy-policy">Privacy policy</a></div>
  </div></div>

</div>
</body>
</html>
