<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;application/json; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style3.css" />
<title> Vũ yêu Vy</title>
</head>
<body>
  <div class="blue"></div>
  <div class="bar"></div>
  <div class="content"></div>
</body>
</html>
