* { padding: 0; margin: 0; }
body {
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    background-color: 	#cfeded;
    overflow: auto;
}

.wrap{

=======
    overflow: auto;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: none;
}
.class_map{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.content{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.top_right{
  position: absolute;
  right: 5px;
  top:10px;
  z-index:3;
}
.top_right_item {
  position: relative;
  float: right;
  margin-left: 5px;
  z-index: 3
}
.content_account, .content_online,.content_save,.content_send,.content_inbox{
  position: absolute;
  background-color: yellow;
  width: 320px;
  height: 400px;
  right:0px;
  display: none;
  overflow-y: scroll;
  }
.icon{
  background-color: red;
  z-index: 1;
  max-width: 150px;
  overflow-x:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.icon2{
  background-color: red;
  width: 50px;
  z-index: 1;
}
.icon_live{
  background-color: green;
  color: black
}
.top_left_1{
  position: absolute;
  background-color: white;
  width: 300px;
  height: 60px;
  top: 5px;
  z-index:2;
}
.main_line_wrap{
  position: absolute;
  width: 300px;
  height: 100%;
  z-index:2;
}
.bottom_right{
  position: absolute;
  width: 60px;
  height: 30px;
  bottom: 20px;
  right: 80px;
  z-index:2;
}
.input_sub_wrap{
  position: absolute;
  width: 150px;
  height: 24px;
  left:2px;
  top:2px;
  border: 1px solid black
}
.input_sub{
  position: absolute;
  width: 144px;
  height: 16px;
  left: 3px;
  top:3px;
  border: medium none;
}
.online_text{
  position: absolute;
  right:20px;
  display: none
}
.input_cont_wrap{
  position: absolute;
  width: 150px;
  height: 24px;
  left:2px;
  top: 29px;
  border: 1px solid black
}
.btn_show_cont{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 2px;
  top:2px;
  background-image: url("a1.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.input_contact{
  position: absolute;
  width: 115px;
  height: 16px;
  left: 3px;
  top:3px;
  border: 0px;
}
.list_contact{
  position: absolute;
  width: 270px;
  top: 65px;
  bottom: 0px;
  display: none;
  background-color: pink;
  overflow-y: scroll;
  z-index: 2;

}
.small_window{
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  height: 20px;
  min-width: 50px;
  display: none;
  z-index: 4
}
.line_inbox{
  width: 300px;
  height:40px;
  background-color: green;
  margin-top: 5px;

}
.line_inbox_main, .line_send_main, .line_save_main{
  position: absolute;
  width: 300px;
  height:40px;
  cursor: pointer;
  }
.line_inbox_chk, .line_send_chk, .line_save_chk, .line_online_chk{
  position: absolute;
  z-index: 3
}
.line_inbox_sub, .line_send_sub,.line_save_sub{
  position:absolute;
  left:30px;
  width: 130px;
  height:20px;
  background-color: red;
  overflow-x: hidden;
}
.line_inbox_time, .line_send_time, .line_save_time{
  position:absolute;
  right:5px;
}
.line_inbox_from, .line_send_from{
  position:absolute;
  left:30px;
  margin-top: 20px;
  width:250px;
  height: 20px;
  overflow-x: hidden;
}
.line_inbox_read, .line_send_read{
  position:absolute;
  right:5px;
  margin-top: 20px
}
.content_del{
  width: 300px;
  height:30px;
  background-color: pink;
  display: none;
  margin-top: 5px;
}
.content_inbox_del_btn{
  position:absolute;
  right:5px;
}
.content_inbox_del_item{
  position:absolute;
  left:5px;
}
.list_contact_main_line{
  width:230px;
  height:40px;
  background-color:green;
  margin-top:5px
}
.abc{
  position: relative;
  width:230px;
  height:40px;

}
.list_contact_line_btn{
  position:absolute;
  width: 40px;
  margin-left: 190px;
  margin-top:5px;
}
.list_contact_line_name{
  position: absolute;
  width: 185px;
  height: 20px;
  overflow-x:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list_contact_line_number{
  position:absolute;
  margin-top:20px;
  width: 185px;
  overflow-x: hidden;
  white-space: nowrap;
   text-overflow: ellipsis;
}
.list_contact_ok{
  position: absolute;
  top:60px;
  width: 300px;
  overflow-x: auto;
  white-space: nowrap;
}
.list_contact_ok_item{
  display: inline-block;
  background-color: pink;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.a111{
  display: inline-block;
  white-space: nowrap;
}
.a222{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding: 0px
}
.right_bar{
  position: fixed;
  width: 250px;
  height: 400px;
  right:-250px;
  top:50px;
  transition: 0.5s;
  z-index: 2
}
.btn_list{
  position: absolute;
  width: 50px;
  left:-50px
}
.location_list{
  position: absolute;
  width: 250px;
  height: 400px;
  background-color: yellow;
  overflow-y: scroll;
}
.list_line{
  width: 230px;
  height: 35px;
  margin-top: 5px;
  background-color: green;
}
.list_line_member{
  width: 230px;
  height: 35px;
  margin-top: 5px;
  background-color: orange;
}
.list_line_checkbox{
  position: absolute;
  right:5px
}
.lo_list_sub{
  position: absolute;
  width: 190px;
  height: 30px;
  margin-top: 5px;
  cursor: pointer;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lo_list_show{
  position: absolute;
  margin-top:15px;
  right: 5px;
}
.info_wrap{
  width: 200px;
  height: 90px;
  text-align:center;
  z-index: 5;

}
.info_input{
  width: 190px;
}
.posname_2{
  width: 200px;
  height: 20px;
  margin-top: 10px
}
.info_cancle{
  position: relative;
  float: right;
  margin-right: 10px
}
.info_ok{
  position: relative;
  float: left;
  margin-left: 10px

}
.wrap{
  position: absolute;
>>>>>>> f3e3c45b93640964da05aa658c4109554cd176ff
  width: 100%;
  height: 100%;
  background-color: brown;
  overflow: auto;
}
<<<<<<< HEAD

=======
.login{
  position: relative;
  float: right;
  width: 645px;
  height: 70px;
  right: 10px;
  background-color: green;
  z-index: 2

}
>>>>>>> f3e3c45b93640964da05aa658c4109554cd176ff
.img_icon{
  position:relative;
  float: left;
  top:5px;
  width: 60px;
  height: 60px;
  left:10px;
  z-index: 2

}
.blue{
  width: 100%;
  height: 70px;
  background-color: green;
  z-index: 2;
}
<<<<<<< HEAD

.main_content{

  top:70px;
  height: 100%;

  background-color: 	#cfeded;
  z-index: 2;
  margin: 0 auto;
}
.content{
  position: absolute;
  left:10px;
  right: 10px;
}
=======
.k1{
  width: 900px;
  height: 70px;
  background-color: green;
  z-index: 2;
  margin: 0 auto;
}

.main_pic{
  width: 100%;
  height: 700px;
  background-color: 	#cfeded;
  z-index: 2
}

.white_2{
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: #dcdbd6;
  z-index: 2
}

.main_content{
  width: 900px;
  height: 700px;
  background-color: 	#cfeded;
  z-index: 2;
  margin: 0 auto;

}

.white_2_2{
  width: 900px;
  height: 70px;
  margin: 0 auto;

  background-color: #dcdbd6;
  z-index: 2
}

.policy{
  text-align: center;

}
.code_name{
  position: absolute;
}
.code_1{
  position: absolute;
  height: 25px;
  top: 20px;

}
.number_1{
  position: absolute;
  left:215px;

}
.number_2{
  position: absolute;
  left:215px;
  top:20px;
  width: 150px;
  height: 25px;

}
.pass_1{
  position: absolute;
  left:380px;

}
.pass_2{
  position: absolute;
  left:380px;
  top:20px;
  width: 150px;
  height: 25px;

}
.submit{
  position: absolute;
  left:545px;
  width: 100px;
  height: 26px;
  padding: 0px;
  top:19px;
}
.info_from_server{
  position: absolute;
  width: 645px;
  height: 20px;
  bottom: 0px;
}
/* @media only screen and (max-width: 900px) {

} */
>>>>>>> f3e3c45b93640964da05aa658c4109554cd176ff
