
body{
  color: #666666;
  overflow-x: hidden;
}
.my_a1{
  width: 100%;
  height: 100%;
  background-color: red;
  overflow: auto;
}
.main_banner{
   position: absolute;
   right:0%;
   left:0%;
   height:10%;
   top:0%;
   background-color: #4CAF50;
}
.login_banner{
  position: absolute;
  right:0%;
  left:40%;
  bottom: 0%;
  top:0%;
  background-color: brown;
}
.my_submit{
   position: absolute;
   display: inline-block;
   background-color: pink;
   bottom: 30%;
   right:0%;
   left:75%
 }
.my_login_pass{
   position: absolute;
   display: inline-block;
   background-color: green;
   right: 25%;
   left:75%;
   bottom: 5%;
}
.my_login_number{
   position: absolute;
   display: inline-block;
   background-color: pink;
   left:50%;
   right: 41%;
   bottom: 5%;

}
.my_login_code{
   position: absolute;
   display: inline-block;
   background-color: blue;
   left:75%;
   right: 61%;
   bottom: 5%;

}
.ad_banner{
  position: absolute;
  top:10%;
  bottom: 0px;
  left: 0px;
  right:60%;
  background-color: blue
}
.info_banner{
  position: absolute;
  left:40%;
  top:10%;
  bottom: 0px;
  right:0px;
  background-color: yellow
}
.info_from_server{
  position: absolute;
  top:2%;
  bottom: 2%;
  right: 1%;
  left: 1%;
  background-color: white
}
