* { padding: 0; margin: 0; }
html,body{
  width: 100%;
  height: 100%;
  overflow: auto;
}
body{
  position: static;
}

.wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-right: 0px;
  background-color: brown;
}
.main{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: green;
}

.code_name{
  position: absolute;
  left:0px;
}
.code_1{
  position: absolute;
  left: 0px;
  top: 20px;
}
.number_1{
  position: absolute;
  left:300px;
}
.number_2{
  position: absolute;
  left:300px;
  top:20px;
}
.pass_1{
  position: absolute;
  left:700px;

}
.pass_2{
  position: absolute;
  left:700px;
  top:20px;
}
.submit{
  position: absolute;
  left:800px;
  top:20px;
}



/* @media only screen and (max-width: 900px) {

} */
