
.my_login_number, .my_login_pass, .my_login_code{
   position: relative;
   display: inline-block;
   float:right;
   margin-right: 10px
}
.my_submit{
   position: relative;
   display: inline-block;
   float:right;
   margin-right: 10px;
   margin-top: 20px;
}

.main_banner{
   position: absolute;
   right:0px;
   width: 700px;
   height:50px;
   background-color: #4CAF50;
}
.info_banner{
  position: absolute;
  right:0px;
  top: 50px;
  width: 700px;
  height: 100%;
  background-color: red
}
