* { padding: 0; margin: 0; }
html,body{
  width: 100%;
  height: 100%;
  overflow: auto;
}
body{
  position: static;
}

.wrap{
  position: static;
  width: 100%;
  height: 100%;
  background-color: brown;
}
.main{
  position: absolute;
  top:0%;
  bottom: 0%;
  right: 0%;
  left:40%;
  background-color: purple
}

.code_name{
  position: absolute;
  left:0px;
}
.code_1{
  position: absolute;
  left: 0px;
  top: 20px;
}
.number_1{
  position: absolute;
  left:220px;
}
.number_2{
  position: absolute;
  left:220px;
  top:20px;
}
.pass_1{
  position: absolute;
  left:220px;
  top:45px;
}
.pass_2{
  position: absolute;
  left:220px;
  top:65px;
}
.submit{
  position: absolute;
  left:220px;
  top:100px;
}
.adver{
  position: absolute;
  top:0%;
  bottom: 0%;
  right: 60%;
  left:0%;
  background-color: #4CAF50
}


/* @media only screen and (max-width: 900px) {

} */
